.content
  .name
    = name
  .edit
    = fa_icon "gear"

:javascript
  $("#title .edit").on('click', function(){
    text = $("#title .content .name").text().trim()
    $('#title .content').html("#{ j(render(:partial => 'pages/form/title', locals: {name: @page.title, book_id: @book.id, page_order: @page.order})) }")
    $("#title .content input")[0].value = text
  })
